%table.table
  %tr
    %td
      = t('user')
    %td
      = t('navigation')
    %td
      = t('sign in')
    %td
      = t('sign out')
    %td
      = t('like')
    %td
      = t('comment')
  - @user.each do |user|
    %tr
      %td
        = user.email
      %td
        = link_to t('Navigation'),navigation_events_path(user.id)
      %td
        = link_to t('Sign_in'),sign_in_events_path(user.id)
      %td
        = link_to t('Sign_out'),sign_out_events_path(user.id)
      %td
        = link_to t('Like'),like_events_path(user.id)
      %td
        = link_to t('Comment'),comment_events_path(user.id)