%table.table
  %tr
    %td
      = t('user')
    %td
      = t('navigation')
    %td
      = t('sign in')
    %td
      = t('sign out')
    %td
      = t('like')
    %td
      = t('comment')
  - @users.each do |user|
    %tr
      %td
        = user.email
      %td
        = link_to t('Navigation'), event_path(user.id, :eventable_type => "Navigation" )
      %td
        = link_to t('Sign_in'), event_path(user.id, :eventable_type=> "Sign_in")
      %td
        = link_to t('Sign_out'), event_path(user.id, :eventable_type=> "Sign_out")
      %td
        = link_to t('Like'), event_path(user.id, :eventable_type=> "Like")
      %td
        = link_to t('Comment'), event_path(user.id, :eventable_type=> "Comment")