%table.table
  - @events.each do |event|
    %tr
      %td
        = event.eventable_type
      %td
        = event.created_at
        - case event.eventable_type
          - when 'Navigation'
            %td
              = event.eventable_body
          - when 'Like'
            %td
              = image_tag event.eventable_body, :width => 50, :height => 50

          - when 'Comment'
            %td
              = event.eventable_body
= will_paginate @events
