%div_img
  = image_tag(@picture.url.url)
  %p= "Comments: #{@comments_count}"
- if @like
  \#{ link_to "dislike", like_path(:picture_id => @picture), method: :delete }
- else
  \#{ link_to "like", new_like_path(:picture_id => @picture)}
= "#{@picture.like_count} users liked"
%div_comment
%br

  - @comments.each do |comment|
    %h5
      = comment.created_at
      = "Commenter:"
      = "#{comment.user.email} said:"
    = comment.body
  = form_for :comment, url: picture_comments_path(@picture.id), method: :post do |f|
    = f.text_area :body
    %br
    = f.submit :value => "save"
= link_to "back", :back
