%div_img
  = image_tag(@picture.url.url)
  %p= "Comments: #{@picture.comments.count.to_i}"
- if @picture.likes.find_by_user_id(current_user.id)
  \#{ link_to "dislike", like_path(:picture_id => @picture), method: :delete }
- else
  \#{ link_to "like", new_like_path(:picture_id => @picture)}
= "#{@picture.likes.count} users liked"
%div_comment
%br

  - @picture.comments.each do |comment|
    %br
    = "Commenter:"
    = "#{comment.user.email} said:"
    = comment.body
  = form_for :comment, url: picture_comments_path(@picture.id), method: :post do |f|
    = f.text_area :body
    %br
    = f.submit :value => "save"