!!!
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}/
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css", rel: "stylesheet"}/
    %script{src: "http://code.jquery.com/jquery.min.js", type: "text/javascript"}
    %script{src: "http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}
    = javascript_include_tag :application
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default.navbar-static-top{role: "navigation", :style => 'margin: 0 10px 0 10px'}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      / Collection of nav links and other content for toggling
      #navbarCollapse.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            = link_to "categories", categories_path
          %li
            = link_to "pictures", pictures_path
          %li
            = link_to "comments",  comments_path
          %li
            = link_to "events", events_path
        %ul.nav.navbar-nav.navbar-right
          %li
            - if user_signed_in?
              = link_to "Sign out", destroy_user_session_path, :method=>:delete
            - else
              %li
                = link_to "Sign up", new_user_registration_path

              %li
                = link_to "Sign in", new_user_session_path
    .container-fluid
      .row-fluid
        .span2

        / /span
        .span9
          = bootstrap_flash
          .container
            = yield
      / /row
      %footer
        %p © Company 2014
    / /container